<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="output.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Radio+Canada:wght@300&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Senior Software Engineer</title>
</head>
<body class="font-['Kumbh Sans'] bg-[#F4F6F8]">
<header>
  <img src="https://i.ibb.co/nscsKGt/Group-10.png" class="w-screen absolute">

  <div class="flex justify-around">
    <h2 class="z-50 m-8 text-white text-2xl font-semibold">devjobs</h2>
    <div class="flex space-x-2 items-center">
      <i class="fa-solid fa-sun z-50 text-white"></i>
      <label for="default-toggle" class="inline-flex relative items-center cursor-pointer">
        <input type="checkbox" value="" id="default-toggle" class="sr-only peer">
        <div class="w-11 h-6 bg-white peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-gray-600"></div>
      </label>
      <i class="fa-solid fa-moon z-50 text-white"></i>
    </div>
  </div>
</header>
<div class="flex justify-center">
  <div class="bg-white w-1/2 absolute rounded-lg flex justify-around items-center background-box">
    {{ content.field_company_logo[0] }}
    <div class="flex flex-col">
      <h3 class="font-bold text-3xl to-white">{{ content.field_company[0] }}</h3>
      <p class="text-[#6E8098]">{{ content.field_company[0] }}.com</p>
    </div>
    <button class="bg-[#939BF4] md:w-1/3 rounded-lg h-12 text-white hover:bg-[#5964E0]"><a href="https://www.scoot.com" target="_blank">Company Site</a></button>
  </div>
</div>

<div class="flex justify-center">
  <main class="mt-52 bg-white w-1/2 p-5 background-box">
    <header class="flex justify-between items-center">
      <div class="flex flex-col">
        <p class="text-[#6E8098]">{{ content.field_published_on[0] }} . {{ content.field_job_type[0] }}</p>
        <h3 class="text-3xl font-bold to-white">{{ node.label }}</h3>
        <p class="text-[#5964E0] text-sm font-semibold mt-3">{{ content.field_country[0] }}</p>
      </div>
      <button class="bg-[#5964E0] w-1/3 rounded-lg h-12 text-white hover:bg-[#939BF4]"><a href="https://www.scoot.com" target="_blank">Apply Now</a></button>
    </header>
    <article class="mt-5">
      <p class="text-[#6E8098] job-description">
        Lorem ipsum dolor sit amet, consectetuer
        adipiscing elit. Phasellus hendrerit.
        Pellentesque aliquet nibh nec urna. In nisi
        neque, aliquet vel, dapibus id, mattis vel,
        nisi. Sed pretium, ligula sollicitudin laoreet
        viverra, tortor libero sodales leo, eget blandit
        nunc tortor eu nibh. Nullam mollis. Ut justo.
        Suspendisse potenti. Sed egestas, ante et vulputate
        volutpat, eros pede semper est, vitae luctus metus libero
        eu augue. Morbi purus libero, faucibus adipiscing, commodo
        quis, gravida id, est. Sed lectus. Praesent elementum hendrerit
        tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a
        ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien
        ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.
      </p>

      <h2 class="mt-5 text-lg font-bold to-white">Requirements</h2>
      <p class="text-[#6E8098] mt-5 job-description">
        Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia,
        magna a ullamcorper laoreet, lectus arcu pulvinar risus,
        vitae facilisis libero dolor a purus. Sed vel lacus. Mauris
        nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus.
        Suspendisse ac urna. Etiam pellentesque mauris ut lectus.
        Nunc tellus ante, mattis eget, gravida vitae, ultricies ac, leo.
        Integer leo pede, ornare a, lacinia eu, vulputate vel, nisl.
      </p>

      <ul class="list-disc p-5">
        <li class="text-[#5964E0]"><p class="text-[#6E8098] mt-5 job-description">Morbi interdum mollis sapien. Sed</p></li>
        <li class="text-[#5964E0]"><p class="text-[#6E8098] mt-5 job-description">Phasellus lacinia magna a ullamcorper laoreet, lectus arcu pulvinar risus</p></li>
        <li class="text-[#5964E0]"><p class="text-[#6E8098] mt-5 job-description">Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus.</p></li>
        <li class="text-[#5964E0]"><p class="text-[#6E8098] mt-5 job-description">Morbi interdum mollis sapien. Sed</p></li>
      </ul>

      <h2 class="mt-5 text-lg font-bold to-white">What You Will Do</h2>

      <p class="text-[#6E8098] mt-5 job-description">
        Sed egestas, ante et vulputate volutpat,
        eros pede semper est, vitae luctus metus
        libero eu augue. Morbi purus libero, faucibus
        adipiscing, commodo quis, gravida id, est. Sed lectus.
        Praesent elementum hendrerit tortor. Sed semper lorem at felis.
        Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui,
        eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu,
        fermentum et, dapibus sed, urna.
      </p>

      <ol class="list-decimal p-5">
        <li class="text-[#5964E0]"><p class="text-[#6E8098] mt-5 job-description">Morbi interdum mollis sapien. Sed</p></li>
        <li class="text-[#5964E0]"><p class="text-[#6E8098] mt-5 job-description">Phasellus lacinia magna a ullamcorper laoreet, lectus arcu pulvinar risus</p></li>
        <li class="text-[#5964E0]"><p class="text-[#6E8098] mt-5 job-description">Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus.</p></li>
        <li class="text-[#5964E0]"><p class="text-[#6E8098] mt-5 job-description">Morbi interdum mollis sapien. Sed</p></li>
      </ol>
      <p class="text-[#6E8098] mt-5 job-description">{{ content.body }}</p>
    </article>
  </main>
</div>

<footer class="flex justify-around w-full bg-white mt-10 p-5 background-box">
  <div class="flex justify-between w-1/2">
    <div class="flex flex-col">
      <h3 class="text-3xl font-bold to-white">{{ node.label }}</h3>
      <p class="text-[#6E8098]">So Digital Inc.</p>
    </div>
    <button class="bg-[#5964E0] w-1/4 rounded-lg h-12 text-white hover:bg-[#939BF4]"><a href="https://www.scoot.com" target="_blank">Apply Now</a></button>
  </div>
</footer>
</body>
</html>
